.meny {
    display: none;
    position: absolute;
    top: 30px;
    left: 50px;
    background-color: beige;
    padding: 20px;
    border: 1px solid black;
}

.visa {
    display: block;
}

.container {
    text-align: center;
}

p {
    font-family: "Arial", sans serif;
}
.text-container{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
#meny-knapp:hover{
    background-color: blue;
    cursor: pointer;
}
.meny a:hover{
    background-color: gray;
}
#meny-knapp{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
.klocka{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}
#date, #clock{
    margin-left: 10px;
}


