.meny {
    display: none;
}

.visa {
    display: block;
}

.container {
    text-align: center;
}

p {
    font-family: "Arial", sans serif;
}
.text-container{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
#meny-knapp:hover{
    background-color: blue;
    cursor: pointer;
}
.meny a:hover{
    background-color: gray;
}


